@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --azul-marinho: #1B75BC;
    --dourado:#ffc72ce8;
    --vermelho:#e60012;
    --bege:#f5e1a4;

    /*fontes*/

    --fonte-comun:"Poppins";
    --fonte-destaque:"Bangers", system-ui;
    --fonte-titulo:"Bebas Neue", sans-serif;;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-comun);
}
body{
    background-image:linear-gradient(to bottom, var(--azul-marinho), white);
}

strong{
    font-family: var(--fonte-destaque);
}
strong:hover{
    color: var(--dourado);
    text-shadow: 1px 1px 1px black;
}

header{
    height:80px;
}

header h1{
    font-size: 4em;
    text-align: center;
    font-family: var(--fonte-titulo);
    text-shadow: 1px 1px 1px var(--dourado);
}

ul{
    margin-bottom: 20px;
    text-align: center;
    
}

ul > li{
    display: inline-block;
    font-size: 1.3em;
    padding-left:10px;
    
}

nav a{
    padding: 2px;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    
}


a:hover{
    text-decoration:underline ;
    color: var(--dourado);
}

main{
    background-color: #AB2A25;
    max-width: 850px ;
    margin:auto;
    padding-top: 20px;
}

.fundo{
    background-image: url(https://beam-images.warnermediacdn.com/BEAM_LWM_DELIVERABLES/37901cbf-ba0c-4a6d-9f5f-f7def2e34a62/ba15842bf50cdc6ab5941697ce1599fe13beb171.jpg?host=wbd-images.prod-vod.h264.io&partner=beamcom);
    background-size: 200px;
    background-repeat: repeat-x;
}


main h1{
    padding: 20px 0 ;
    color: white;
    text-align: center;
    font-family: var(--fonte-titulo);
    font-size: 3em;
    text-shadow: 1px 1px 1px var(--dourado);
}
main p{
    font-size: 1.4em;
    text-align: justify;
    text-indent: 20px;
    margin: 20px;
}

.imagem{
    display: block;
    margin: auto;
    text-align: center;
}

footer{
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}
footer a{
    color: #1B75BC;
}